<div style="text-align: center">
  <h1>Technology Blogs</h1>
  <div *ngIf="!blogInfo.errorMsg">
    <button (click)="addBlog()" mat-raised-button color="primary">Add Blog</button>

    <mat-card *ngIf="!blogInfo.blogList.length">
      <h1>No Blog found</h1>
    </mat-card>

    <mat-card *ngFor="let item of blogInfo.blogList">
      <mat-card-header>
        <h1>{{ item.title }}</h1>
        <div style="text-align: right;width: 100%;">
          <button (click)="updateBlog(item.id)" mat-raised-button color="primary">
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
          <button (click)="deleteBlog(item.id)" mat-raised-button color="warn">
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{ item.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card *ngIf="blogInfo.errorMsg">
    <mat-card-header>
      <h1>Error Occured</h1>
    </mat-card-header>
    <mat-card-content>
      <p style="color: red;">{{ blogInfo.errorMsg }}</p>
    </mat-card-content>
  </mat-card>
</div>
